# World Bank GDP

In [22]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\tinad\anaconda3\lib\site-packages (2.8.3)

In [23]:
# import dependencies

import pandas as pd
from sqlalchemy import create_engine
from bs4 import BeautifulSoup
import requests
import os
import pandas as pd
import json
import ast
from pprint import pprint

### CSV Imports

In [24]:
#import the GDP csv

csv_file = "Resources/gdp.csv"
gdp_df = pd.read_csv(csv_file, encoding ="ISO-8859-1")
gdp_df.head()

         Country Abbreviation  GDP_Ranking  US_dollars
0  United States          USA            1  19,485,394
1          China          CHN            2  12,237,700
2          Japan          JPN            3   4,872,415
3        Germany          DEU            4   3,693,204
4          India          IND            5   2,650,725

In [25]:
#preview the count
gdp_df.count()

Country         200
Abbreviation    200
GDP_Ranking     200
US_dollars      200
dtype: int64

In [28]:
#get the name of the columns

gdp_df.columns

Index(['Country', 'Abbreviation', 'GDP_Ranking', 'US_dollars'], dtype='object')

In [29]:
#import the countries csv

ccsv_file = "Resources/countries.csv"
countries_df = pd.read_csv(ccsv_file, encoding ="ISO-8859-1")
countries_df.head()

,Country,Region,Population,Area_In_Sq_mi,Population_Density_Sq_Mi,Net_Migration,Infant_Mortality_per_1000_Births,GDP_Per_Capita,Literacy_Percent,Phones_per_1000,Arable_Percent,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,23.06,163.07,700.0,36.0,3.2,12.13,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,-4.93,21.52,4500.0,86.5,71.2,21.09,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,-0.39,31.00,6000.0,70.0,78.1,3.22,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,-20.71,9.27,8000.0,97.0,259.5,10.00,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,6.60,4.05,19000.0,100.0,497.2,2.22,8.71,6.25,NaN,NaN,NaN

In [30]:
#preview the count

countries_df.count()

Country                             227
Region                              227
Population                          227
Area_In_Sq_mi                       227
Population_Density_Sq_Mi            227
Net_Migration                       224
Infant_Mortality_per_1000_Births    224
GDP_Per_Capita                      226
Literacy_Percent                    209
Phones_per_1000                     223
Arable_Percent                      225
Birthrate                           224
Deathrate                           223
Agriculture                         212
Industry                            211
Service                             212
dtype: int64

In [31]:
#get the name of the columns

countries_df.columns

Index(['Country', 'Region', 'Population', 'Area_In_Sq_mi',
       'Population_Density_Sq_Mi', 'Net_Migration',
       'Infant_Mortality_per_1000_Births', 'GDP_Per_Capita',
       'Literacy_Percent', 'Phones_per_1000', 'Arable_Percent', 'Birthrate',
       'Deathrate', 'Agriculture', 'Industry', 'Service'],
      dtype='object')

In [32]:
#import the happiness csv

hcsv_file = "Resources/happiness.csv"
happiness_df = pd.read_csv(hcsv_file, encoding ="ISO-8859-1")
happiness_df.head()

,Country,Happiness_Rank,Happiness_Score,Whisker_High,Whisker_Low,Per_Capita_GDP,Family_Support_Score,Health_Life_Expectance_Score,Freedom_Score,Generosity_Score,Trust_In_Government_Score,Dystopia_Residual_Score
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [33]:
#preview the count

happiness_df.count()

Country                         155
Happiness_Rank                  155
Happiness_Score                 155
Whisker_High                    155
Whisker_Low                     155
Per_Capita_GDP                  155
Family_Support_Score            155
Health_Life_Expectance_Score    155
Freedom_Score                   155
Generosity_Score                155
Trust_In_Government_Score       155
Dystopia_Residual_Score         155
dtype: int64

In [34]:
#get the name of the columns

happiness_df.columns

Index(['Country', 'Happiness_Rank', 'Happiness_Score', 'Whisker_High',
       'Whisker_Low', 'Per_Capita_GDP', 'Family_Support_Score',
       'Health_Life_Expectance_Score', 'Freedom_Score', 'Generosity_Score',
       'Trust_In_Government_Score', 'Dystopia_Residual_Score'],
      dtype='object')

### Creating New Data With Select Columns

In [35]:
#gdp_df

new_gdp_df = gdp_df[['Country', 'Abbreviation', 'GDP_Ranking', 'US_dollars']].copy()
new_gdp_df.head()

         Country Abbreviation  GDP_Ranking  US_dollars
0  United States          USA            1  19,485,394
1          China          CHN            2  12,237,700
2          Japan          JPN            3   4,872,415
3        Germany          DEU            4   3,693,204
4          India          IND            5   2,650,725

In [36]:
#countries_df

new_countries_df = countries_df[['Country', 'Region', 'Population', 'Area_In_Sq_mi',
       'Population_Density_Sq_Mi', 'Net_Migration',
       'Infant_Mortality_per_1000_Births', 'GDP_Per_Capita',
       'Literacy_Percent', 'Phones_per_1000', 'Arable_Percent', 'Birthrate',
       'Deathrate', 'Agriculture', 'Industry', 'Service']].copy()
new_countries_df.head()

,Country,Region,Population,Area_In_Sq_mi,Population_Density_Sq_Mi,Net_Migration,Infant_Mortality_per_1000_Births,GDP_Per_Capita,Literacy_Percent,Phones_per_1000,Arable_Percent,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,23.06,163.07,700.0,36.0,3.2,12.13,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,-4.93,21.52,4500.0,86.5,71.2,21.09,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,-0.39,31.00,6000.0,70.0,78.1,3.22,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,-20.71,9.27,8000.0,97.0,259.5,10.00,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,6.60,4.05,19000.0,100.0,497.2,2.22,8.71,6.25,NaN,NaN,NaN

In [37]:
#happiness_df

new_happiness_df = happiness_df[['Country', 'Happiness_Rank', 'Happiness_Score', 'Whisker_High',
       'Whisker_Low', 'Per_Capita_GDP', 'Family_Support_Score',
       'Health_Life_Expectance_Score', 'Freedom_Score', 'Generosity_Score',
       'Trust_In_Government_Score', 'Dystopia_Residual_Score']].copy()
new_happiness_df.head()

,Country,Happiness_Rank,Happiness_Score,Whisker_High,Whisker_Low,Per_Capita_GDP,Family_Support_Score,Health_Life_Expectance_Score,Freedom_Score,Generosity_Score,Trust_In_Government_Score,Dystopia_Residual_Score
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

### Store The Data Into a DataFrame

In [43]:
#store the data into a gdp_db

rds_connection_string = "postgres:postgres@localhost:5432/gdp_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [44]:
#check for tables
engine.table_names()

[]

### Load csv converted DataFrame into database

In [45]:
new_gdp_df.to_sql(name='gdp', con=engine, if_exists='append', index=False)

In [46]:
new_countries_df.to_sql(name='countries', con=engine, if_exists='append', index=False)

In [47]:
new_happiness_df.to_sql(name='happiness', con=engine, if_exists='append', index=False)

In [48]:
#confirm the gdp_data has been added to the table

pd.read_sql_query('select * from gdp', con=engine).head()

         Country Abbreviation  GDP_Ranking  US_dollars
0  United States          USA            1  19,485,394
1          China          CHN            2  12,237,700
2          Japan          JPN            3   4,872,415
3        Germany          DEU            4   3,693,204
4          India          IND            5   2,650,725

In [49]:
#confirm the countries_data has been added to the table

pd.read_sql_query('select * from countries', con=engine).head()

,Country,Region,Population,Area_In_Sq_mi,Population_Density_Sq_Mi,Net_Migration,Infant_Mortality_per_1000_Births,GDP_Per_Capita,Literacy_Percent,Phones_per_1000,Arable_Percent,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,23.06,163.07,700.0,36.0,3.2,12.13,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,-4.93,21.52,4500.0,86.5,71.2,21.09,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,-0.39,31.00,6000.0,70.0,78.1,3.22,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,-20.71,9.27,8000.0,97.0,259.5,10.00,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,6.60,4.05,19000.0,100.0,497.2,2.22,8.71,6.25,NaN,NaN,NaN

In [50]:
#confirm the happiness_data has been added to the table

pd.read_sql_query('select * from happiness', con=engine).head()

,Country,Happiness_Rank,Happiness_Score,Whisker_High,Whisker_Low,Per_Capita_GDP,Family_Support_Score,Health_Life_Expectance_Score,Freedom_Score,Generosity_Score,Trust_In_Government_Score,Dystopia_Residual_Score
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182