In [1]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\tinad\anaconda3\lib\site-packages (2.8.3)

In [2]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [7]:
csv_file = "Resources/gdp.csv"
gdp_df = pd.read_csv(csv_file)
gdp_df.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x92 in position 575: invalid start byte

### Create new data with select columns

In [41]:
new_customer_data_df = customer_data_df[['id', 'first_name', 'last_name']].copy()
new_customer_data_df.head()

   id first_name last_name
0   1    Benetta   Cancott
1   2     Lilyan    Cherry
2   3    Ezekiel   Benasik
3   4    Kennedy     Atlay
4   5    Sanford    Salmen

### Store JSON data into a DataFrame

In [42]:
json_file = "../Resources/customer_location.json"
customer_location_df = pd.read_json(json_file)
customer_location_df.head()

                 address  id  latitude  longitude  us_state
0  043 Mockingbird Place   1   39.1682   -86.5186   Indiana
1       4 Prentice Point   2   41.0938   -85.0707   Indiana
2      46 Derek Junction   3   32.7673   -96.7776     Texas
3  11966 Old Shore Place   4   39.0350   -94.3567  Missouri
4     5 Evergreen Circle   5   40.7808   -73.9772  New York

### Clean DataFrame

In [43]:
new_customer_location_df = customer_location_df[["id", "address", "us_state"]].copy()
new_customer_location_df.head()

   id                address  us_state
0   1  043 Mockingbird Place   Indiana
1   2       4 Prentice Point   Indiana
2   3      46 Derek Junction     Texas
3   4  11966 Old Shore Place  Missouri
4   5     5 Evergreen Circle  New York

### Connect to local database

In [44]:
rds_connection_string = "postgres:postgres@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [45]:
engine.table_names()

[]

### Use pandas to load csv converted DataFrame into database

In [46]:
new_customer_data_df.to_sql(name='customer_name', con=engine, if_exists='append', index=False)

### Use pandas to load json converted DataFrame into database

In [47]:
new_customer_location_df.to_sql(name='customer_location', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [48]:
pd.read_sql_query('select * from customer_name', con=engine).head()

   id first_name last_name
0   1    Benetta   Cancott
1   2     Lilyan    Cherry
2   3    Ezekiel   Benasik
3   4    Kennedy     Atlay
4   5    Sanford    Salmen

### Confirm data has been added by querying the customer_location table

In [49]:
pd.read_sql_query('select * from customer_location', con=engine).head()

   id                address  us_state
0   1  043 Mockingbird Place   Indiana
1   2       4 Prentice Point   Indiana
2   3      46 Derek Junction     Texas
3   4  11966 Old Shore Place  Missouri
4   5     5 Evergreen Circle  New York